@import "../variables.scss";

.banners {

    &__container {
        padding: 50px 40px;

        @media (max-width: 768px) {
            padding: 16px 10px;
        }
    }

    &__list {
        row-gap: 20px;

        @media (max-width: 768px) {
            row-gap: 15px;
        }

        @media (max-width: 550px) {
            row-gap: 7px;
        }
    }

    &__item {
        padding: 0 10px;

        @media (max-width: 768px) {
            padding: 0 7px;
        }

        @media (max-width: 550px) {
            padding: 0 4px;
        }

        & .row {
            margin: 0;
        }

        & .banner__image {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 10;
                transition: all 0.3s;
            }
        }
    }

    &__description {
        padding: 0 95px;
        margin-top: 65px;

        &-title {
            font-size: 2rem;
            line-height: 46px;
            font-weight: 500;
            color: #565656;
            margin-bottom: 50px;
            width: 75%;
            letter-spacing: 0.05rem;
        }

        &-text {
            font-size: 1.125rem;
            color: #565656;
            font-weight: 300;
            margin-bottom: 50px;
            width: 90%;
        }

        &-list {
            list-style-type: disc;
            list-style-position: inside;
            row-gap: 60px;
        }

        &-item {
            font-size: 1.125rem;
            color: #565656;

            &-title {
                font-size: 1.125rem;
                font-weight: 500;
            }

            &-text {
                font-size: 1.125rem;
                font-weight: 300;
            }
        }
    }
}

.banner {

    &__row {
        position: relative;

        &:hover {
            
            & .banner__image {
                backdrop-filter: blur(9px);

                &::after {
                    backdrop-filter: blur(9px);
                }
            }
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        backdrop-filter: blur(0px);
        opacity: 0;
        padding: 20px 30px;
        row-gap: 35px;

        &-text {
            font-size: 1rem;
            font-weight: 300;
            color: #FFFFFF;
        }

        &:hover {
            opacity: 1;
            backdrop-filter: blur(9px);
        }
    }

    &__title {
        font-size: 2.5rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }

        @media (max-width: 550px) {
            font-size: 1.25rem;
        }
    }

    &__price {
        font-size: 1.25rem;
        width: 70%;

        @media (max-width: 1200px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            font-size: 1rem;
            width: 80%;
        }

        @media (max-width: 550px) {
            font-size: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }

    &__btn {
        color: #FFFFFF;
        max-width: 196px;
        padding: 5px 40px;
        font-size: 0.68rem;
        line-height: 26px;

        &:hover {
            background: $ButtonColor;
            border-color: $ButtonColor;
        }

        @media (max-width: 550px) {
            font-size: 0.5rem;
            padding: 0px 20px;
        }
    }
}

@keyframes blurBanner {
    from {
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(9px);
    }
}