@import "../variables.scss";

.signboards {
    &__causes {

        &-card {
            background: #343434;
            padding: 60px;

            @media (max-width: 768px) {
                padding: 60px 34px;
            }
        }

        &-list {
            background: #575757;
            padding: 96px 46px 104px;

            @media (max-width: 991px) {
                background: #343434;
            }

            @media (max-width: 768px) {
                padding: 0px 18px 60px;
            }

            &.col-12 {
                flex: 0 1 100%;
            }
        }
    }
}

.causes {

    &__card {


        &-num {
            font-size: 400px;
            font-weight: 800;
            line-height: 319px;
            color: #EBA707;
            margin-top: 20px;

            @media (max-width: 768px) {
                font-size: 350px;
                line-height: 290px;
            }

            @media (max-width: 550px) {
                font-size: 300px;
                line-height: 260px;
            }
        }

        &-text {
            font-size: 100px;
            line-height: 80px;
            font-weight: 800;
            bottom: 50px;
            left: 20px;
            word-wrap: break-word;
            width: 85%;

            @media (max-width: 768px) {
                font-size: 85px;
            }

            @media (max-width: 550px) {
                font-size: 70px;
                line-height: 57px;
            }

            &-container {
                font-size: 35px;
                line-height: 125%;
                width: 85%;

                @media (max-width: 768px) {
                    font-size: 30px;
                }

                @media (max-width: 550px) {
                    font-size: 26px;
                    line-height: 118%;
                }
            }
        }
    }

    &__list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        height: 730px;
        row-gap: 50px;

        & .col-12 {
            flex: 0 1 100%;
        }

        @media (max-width:1300px) {
            height: 850px;
        }

        @media (max-width:1200px) {
            height: 100%;
        }

        @media (max-width: 768px) {
            row-gap: 20px;
        }

        &-column {
            row-gap: 41px;

            @media (max-width: 768px) {
                row-gap: 20px;
            }
        }
    }

    &__item {
        column-gap: 13px;

        @media (max-width: 991px) {
            border-top: 1px solid $ButtonColor;
            padding-top: 16px;
        }

        &-num {
            color: #6B6B6B;
            font-size: 96px;
            font-weight: 900;
            line-height: 81px;

            @media (max-width: 768px) {
                font-size: 90px;
            }

            @media (max-width: 550px) {
                font-size: 80px;
            }
        }

        &-text {
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 0.02rem;

            @media (max-width: 768px) {
                font-size: 1.125rem;
            }

            @media (max-width: 550px) {
                font-size: 1rem;
            }
        }
    }
}