@import "../variables.scss";

.signboards {

    &__description {

        &.sequins {

            & .causes {
                &__punkt {

                    &-list {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        width: 90%;
                        flex-wrap: wrap;
                        column-gap: 30px;

                        @media (max-width: 1200px) {
                            width: 100%;
                            justify-content: center;
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                        }

                    }

                    &-text {
                        display: flex;
                        flex-direction: row;
                        column-gap: 30px;
                        align-items: center;
                    }

                    &-desc {
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 30px;

                        @media (max-width: 768px) {
                            font-size: 1.25rem;
                            font-weight: 500;
                            line-height: 26px;
                        }

                        @media (max-width: 550px) {
                            font-size: 1rem;
                            font-weight: 300;
                            line-height: 20px;
                        }
                    }
                }
            }

            & .signboards__description-text {
                &-list {
                    margin-top: 30px;
                }
            }
        }

        &.stands {

            & .causes {
                &__punkt {

                    &-list {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        width: 90%;
                        flex-wrap: wrap;
                        column-gap: 30px;

                        @media (max-width: 1200px) {
                            width: 100%;
                            justify-content: center;
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                        }

                    }

                    &-title {
                        font-weight: 900;
                        font-size: 30px;
                        line-height: 52px;
                        color: #797979;
                        padding-left: 20px;

                        @media (max-width: 768px) {
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 32px;
                            padding-left: 10px;
                        }

                        @media (max-width: 550px) {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                        }
                    }

                    &-text {
                        display: flex;
                        flex-direction: row;
                        column-gap: 20px;
                        align-items: flex-start;

                        & img {
                            @media (max-width: 550px) {
                                width: 45px;
                            }
                        }
                    }

                    &-desc {
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 30px;

                        @media (max-width: 768px) {
                            font-size: 1.25rem;
                            font-weight: 500;
                            line-height: 26px;
                        }

                        @media (max-width: 550px) {
                            font-size: 1rem;
                            font-weight: 300;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        &.tables {

            & .causes {
                &__punkt {
                    margin-top: 0;

                    &-text {
                        list-style: none;
                    }

                    &-desc {
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 38px;

                        @media (max-width: 768px) {
                            font-size: 1.125rem;
                            font-weight: 300;
                            line-height: 26px;
                        }

                        @media (max-width: 550px) {
                            font-size: 1rem;
                            font-weight: 300;
                            line-height: 24px;
                        }

                    }

                    &-marker {
                        height: 30px;
                        border-left: 14px solid $ButtonColor;

                        @media (max-width: 768px) {
                            height: 25px;
                        }

                        @media (max-width: 550px) {
                            height: 20px;
                            border-width: 10px;
                        }
                    }
                }
            }
        }

        &.service-main {

            & .signboards__description-text {
                margin-top: 30px;
                list-style: none;

                &-list {
                    margin-top: 40px;
                }

            }

            & .causes {
                &__punkt {
                    &-text {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        row-gap: 20px;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 32px;
                        color: #373737;

                        @media (max-width: 768px) {
                            font-size: 18px;
                        }

                        @media (max-width: 550px) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }

                    &-title {
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 32px;
                        color: #797979;

                        @media (max-width: 768px) {
                            font-size: 26px;
                        }

                        @media (max-width: 550px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }

        &.advertion-production {

            & .signboards__description {
                &-text {
                    margin-top: 30px;
                    list-style: none;
                    text-indent: 50px;

                    @media (max-width: 768px) {
                        text-indent: 20px;
                    }

                    &-list {
                        margin-top: 0px;
                    }

                    &-title {
                        margin-top: 30px;
                    }
                }
            }

            .signboards__description-title {
                margin-top: 30px;
            }

            & .signboards__description-content {
                margin-top: 0px;
            }

            & .causes {
                &__punkt {
                    &-text {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        row-gap: 16px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #373737;

                        @media (max-width: 768px) {
                            font-size: 14px;
                        }

                        @media (max-width: 550px) {
                            font-size: 14px;
                        }
                    }

                    &-desc {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #373737;

                        @media (max-width: 768px) {
                            font-size: 14px;
                        }

                        @media (max-width: 550px) {
                            font-size: 14px;
                        }
                    }

                    &-title {
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 64px;
                        color: #797979;

                        @media (max-width: 768px) {
                            font-size: 26px;
                        }

                        @media (max-width: 550px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }

        &-container {
            padding: 55px 40px;

            @media (max-width: 768px) {
                padding: 16px 10px 29px;
            }
        }

        &-content {
            margin-top: 60px;
        }

        &-title {
            font-size: 2.75rem;
            color: #565656;
            position: relative;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 1.875rem;
                font-weight: 500;
            }

            @media (max-width: 550px) {
                font-size: 1.125rem;
                font-weight: 700;
            }

            &::after {
                content: "";
                position: absolute;
                width: 500px;
                height: 2px;
                border: 1px solid #c7c7c7;
                bottom: -20px;
                left: calc(50% - 250px);

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &-list-title {
            font-size: 2.25rem;
            color: #565656;
            position: relative;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 1.5rem;
                font-weight: 500;
            }

            @media (max-width: 550px) {
                font-size: 1.125rem;
                font-weight: 300;
            }

            &::after {
                content: "";
                position: absolute;
                width: 500px;
                height: 2px;
                border: 1px solid #c7c7c7;
                bottom: -20px;
                left: calc(50% - 250px);

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &-text {
            font-size: 1.25rem;
            line-height: 38px;
            color: #373737;
            text-indent: 50px;

            @media (max-width: 768px) {
                font-size: 1rem;
                line-height: 30px;
                text-indent: 20px;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
                line-height: 26px;
            }

            &-list {
                margin-top: 78px;

                @media (max-width: 768px) {
                    margin-top: 50px;
                }

                @media (max-width: 550px) {
                    margin-top: 20px;
                }
            }
        }
    }

    &__images {
        row-gap: 20px;

        @media (max-width: 768px) {
            row-gap: 15px;
        }

        @media (max-width: 550px) {
            row-gap: 7px;
        }
    }

    &__causes {

        &-card {
            background: #343434;
            padding: 60px;

            @media (max-width: 768px) {
                padding: 60px 34px;
            }
        }

        &-list {
            background: #575757;
            padding: 96px 46px 104px;

            @media (max-width: 991px) {
                background: #343434;
            }

            @media (max-width: 768px) {
                padding: 0px 18px 60px;
            }
        }

        &__item {
            column-gap: 13px;

            @media (max-width: 991px) {
                border-top: 1px solid $ButtonColor;
                padding-top: 16px;
            }

            &-num {
                color: #6B6B6B;
                font-size: 96px;
                font-weight: 900;
                line-height: 81px;

                @media (max-width: 768px) {
                    font-size: 90px;
                }

                @media (max-width: 550px) {
                    font-size: 80px;
                }
            }

            &-text {
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0.02rem;

                @media (max-width: 768px) {
                    font-size: 1.125rem;
                }

                @media (max-width: 550px) {
                    font-size: 1rem;
                }
            }
        }
    }

    & .more__control {
        margin-top: 12px;
        row-gap: 12px;

        &-text {
            font-size: 1.125rem;

            color: #565656;
            margin-left: 30px;

            @media (max-width: 768px) {
                font-size: 1rem;
                margin-left: 0;
                margin-top: 10px;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
            }
        }
    }
}

.more {

    &__control {
        margin-top: 50px;
        row-gap: 12px;

        &-text {
            font-size: 1.125rem;

            color: #565656;
            margin-left: 30px;

            @media (max-width: 768px) {
                font-size: 1rem;
                margin-left: 0;
                margin-top: 10px;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
            }
        }
    }

    &__btn {
        background: #7A7A7A;
        font-size: 0.68rem;
        padding: 9px 38px;
        min-width: 277px;
        letter-spacing: 0.08rem;

        @media (max-width: 768px) {
            min-width: 237;
        }

        @media (max-width: 550px) {
            min-width: 197px;
        }

        &:hover {
            background: $ButtonColor;
        }
    }

}

.causes {

    &__punkt {

        &-list {
            flex-direction: column;
        }

        &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #565656;
            margin-top: 40px;

            @media (max-width: 768px) {
                margin-top: 30px;
                font-size: 20px;
                line-height: 26px;
            }

            @media (max-width: 550px) {
                margin-top: 20px;
                font-size: 16px;
                line-height: 22px;
            }
        }

        & ul {
            row-gap: 48px;

            @media (max-width: 768px) {
                row-gap: 40px;
            }

            @media (max-width: 550px) {
                row-gap: 30px;
            }
        }


        &-text {
            list-style: disc;
        }

        &-desc {
            font-size: 20px;
            line-height: 30px;

            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 26px;
            }

            @media (max-width: 550px) {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }


    &__item {

        @media (max-width: 991px) {
            border-top: 1px solid #F5F5F5;
            padding-top: 16px;
        }

        &-num {
            background: linear-gradient(216.23deg, #B4B4B4 3.13%, #FFFFFF 100.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            line-height: 105px;
            color: #6B6B6B;
            font-size: 96px;
            font-weight: 900;

            @media (max-width: 768px) {
                font-size: 90px;
                line-height: 90px;
            }

            @media (max-width: 550px) {
                font-size: 80px;
                line-height: 75px;
            }

            &.lg {
                @media (max-width: 768px) {
                    font-size: 90px;
                    line-height: 90px;
                }

                @media (max-width: 550px) {
                    font-size: 60px;
                    line-height: 75px;
                }
            }
        }

        &-title {
            font-size: 40px;
            line-height: 64px;
            font-weight: 900;
            color: #797979;

            @media (max-width: 768px) {
                font-size: 35px;
            }

            @media (max-width: 550px) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        &-desc {

            &.sm {
                font-size: 18px;
                line-height: 32px;
                color: #373737;

                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 30px;
                }

                @media (max-width: 550px) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }

            &.lg {
                font-size: 28px;
                line-height: 38px;
                color: #373737;
                margin-bottom: 0;

                @media (max-width: 991px) {
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                }


                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                }

                @media (max-width: 550px) {
                    font-size: 14px;
                    line-height: 14px;
                }
            }

        }
    }
}