@import "../variables.scss";

.more {

    &.dark {
        background: #414141;

        & .more__text {
            color: #FFFFFF;
        }

        & .more__control-text {
            color: #FFFFFF;
        }
    }

    &.light {
        background: #FFFFFF;
    }

    &__title {
        font-size: 2.25rem;
        color: $ButtonColor;
        position: relative;
        font-weight: 300;
        font-size: 36px;
        line-height: 38px;

        @media (max-width: 768px) {
            font-size: 2rem;
            font-weight: 500;
            line-height: 30px;
        }

        @media (max-width: 550px) {
            font-size: 1.625rem;
            font-weight: 300;
            line-height: 26px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 500px;
            height: 2px;
            border: 1px solid #c7c7c7;
            bottom: -20px;
            left: calc(50% - 250px);

            @media (max-width: 768px) {
                width: 308px;
                left: calc(50% - 154px);
                // display: none;
            }
        }
    }




    &__icon {
        width: 274px;
        height: 274px;
        background: #373737;

        &-text {
            font-weight: 600;
            font-size: 90px;
            line-height: 45px;
            color: #6d6d6d;

            @media (max-width: 768px) {
                font-weight: 500;
                font-size: 85px;
                line-height: 47px;
            }

            @media (max-width: 550px) {
                font-size: 80px;
                line-height: 49px;
            }

            & small {
                font-size: 45px;
            }
        }
    }

    &__important {
        width: 274px;
        height: 274px;

        &-text {
            font-weight: 900;
            font-size: 120px;
            line-height: 56px;
            color: #949494;

            // @media (max-width: 768px) {
            //     font-weight: 500;
            //     font-size: 85px;
            //     line-height: 47px;
            // }

            // @media (max-width: 550px) {
            //     font-size: 80px;
            //     line-height: 49px;
            // }

            // &-mark {
            //     font-weight: 400;
            //     font-size: 280px;
            //     line-height: 56px;
            //     color: #949494;
            // }
        }

        &-mark {
            font-weight: 400;
            font-size: 280px;
            line-height: 56px;
            color: #949494;
        }
    }

    &__container {
        padding-top: 62px;
        padding-bottom: 47px;
    }

    &__row {
        margin-left: 0;
        margin-right: 0;
        margin-top: 47px;

        &.signboard {
            width: 90%;
            margin-left: 10px;

            @media (max-width: 768px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-top: 37px;
            }
        }

        &.roof-install {
            margin-top: 45px;

            & .terms__plus-list {
                list-style: none;

                &-title {

                    @media (max-width: 768px) {
                        color: $ButtonColor;
                    }
                }
            }
        }

        &.panel-brackets {
            & .terms__plus-list {
                @media (max-width: 768px) {
                    row-gap: 35px;
                }
            }
        }

    }

    // &__title {
    //     font-size: 40px;
    //     line-height: 58px;
    //     color: $ButtonColor;

    //     @media (max-width: 768px) {
    //         font-size: 30px;
    //     }

    //     @media (max-width: 550px) {
    //         font-size: 20px;
    //     }
    // }

    &__text {
        font-size: 20px;
        margin-top: 20px;
        line-height: 34px;
        color: #565656;
        font-weight: 300;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 30px;
        }

        @media (max-width: 550px) {
            font-size: 14px;
            line-height: 26px;
            margin-top: 0px;
        }
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: 550px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        & svg {
            @media (max-width: 768px) {
                width: 150px;
                height: 180px;
            }

            @media (max-width: 550px) {
                width: 116px;
                height: 152px;
            }
        }
    }

    &__plus {

        &-title {
            font-size: 50px;
            line-height: 52px;
            font-weight: 300;
            color: #FFFFFF;
            margin-bottom: 65px;
        }

        &-list {
            list-style: decimal;
            column-gap: 95px;
            color: #FFFFFF;
            font-size: 1.25rem;
            line-height: 38px;
            font-weight: 300;
            margin-bottom: 40px;
            letter-spacing: 0.05rem;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                font-size: 1rem;
                line-height: 30px;
            }

            

            &-title {
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 40px;
                color: $ButtonColor;
                // margin-bottom: 40px;

                @media (max-width: 768px) {
                    font-size: 1.25rem;
                    line-height: 30px;
                }

                @media (max-width: 550px) {
                    font-size: 1.25rem;
                    line-height: 28px;
                }
            }
        }
    }

    &__control {
        margin-top: 12px;
        row-gap: 12px;

        &-text {
            font-size: 1.125rem;

            color: #565656;
            margin-left: 30px;

            @media (max-width: 768px) {
                font-size: 1rem;
                margin-left: 0;
                margin-top: 10px;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
            }
        }
    }

    &__btn {
        background: #7A7A7A;
        font-size: 0.68rem;
        padding: 9px 38px;
        min-width: 277px;
        letter-spacing: 0.08rem;

        @media (max-width: 768px) {
            min-width: 237;
        }

        @media (max-width: 550px) {
            min-width: 197px;
        }

        &:hover {
            background: $ButtonColor;
        }
    }
}

.causes {


    &__item {
        column-gap: 20px;

        @media (max-width: 991px) {
            padding-top: 16px;
        }

        &-num {
            font-weight: 500;
            font-size: 200px;
            line-height: 52px;
            color: #6d6d6d;

            @media (max-width: 768px) {
                font-size: 90px;
                line-height: 90px;
            }

            @media (max-width: 550px) {
                font-size: 80px;
                line-height: 75px;
            }

            &.lg {
                @media (max-width: 768px) {
                    font-size: 90px;
                    line-height: 90px;
                }

                @media (max-width: 550px) {
                    font-size: 60px;
                    line-height: 75px;
                }
            }
        }

        &-title {
            font-weight: 500;
            font-size: 44px;
            line-height: 52px;
            color: #FFFFFF;

            @media (max-width: 768px) {
                font-size: 35px;
            }

            @media (max-width: 550px) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        &-desc {

            &.sm {
                font-size: 18px;
                line-height: 32px;
                color: #373737;

                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 30px;
                }

                @media (max-width: 550px) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }

            &.lg {
                font-size: 28px;
                line-height: 38px;
                color: #373737;
                margin-bottom: 0;

                @media (max-width: 991px) {
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                }


                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                }

                @media (max-width: 550px) {
                    font-size: 14px;
                    line-height: 14px;
                }
            }

        }
    }
}