@import "../variables.scss";

.terms {

    &.dark {
        background: #414141;

        & .terms__text {
            color: #FFFFFF;
        }

        & .terms__control-text {
            color: #FFFFFF;
        }
    }

    &.light {
        background: #FFFFFF;
    }

    &__icon {
        width: 274px;
        height: 274px;
        background: #373737;

        &-text {
            font-weight: 600;
            font-size: 90px;
            line-height: 45px;
            color: #6d6d6d;

            @media (max-width: 768px) {
                font-weight: 500;
                font-size: 85px;
                line-height: 47px;
            }

            @media (max-width: 550px) {
                font-size: 80px;
                line-height: 49px;
            }

            & small {
                font-size: 45px;
            }
        }
    }

    &__container {
        padding-top: 62px;
        padding-bottom: 47px;
    }

    &__row {
        width: 90%;
        margin-left: 10px;

        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__title {
        font-size: 40px;
        line-height: 58px;
        color: $ButtonColor;

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 550px) {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 20px;
        margin-top: 20px;
        line-height: 34px;
        color: #565656;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 30px;
        }

        @media (max-width: 550px) {
            font-size: 14px;
            line-height: 26px;
            margin-top: 0px;
        }
    }

    &__col {
        @media (max-width: 550px) {
            padding-left: 8px;
            padding-right: 8px;
        }

        & svg {
            @media (max-width: 768px) {
                width: 150px;
                height: 180px;
            }

            @media (max-width: 550px) {
                width: 116px;
                height: 152px;
            }
        }
    }

    &__control {
        margin-top: 12px;

        &-text {
            font-size: 1.125rem;

            color: #565656;
            margin-left: 30px;

            @media (max-width: 768px) {
                font-size: 1rem;
                margin-left: 0;
                margin-top: 10px;
            }

            @media (max-width: 550px) {
                font-size: 0.875rem;
            }
        }
    }

    &__btn {
        background: #7A7A7A;
        font-size: 0.68rem;
        padding: 9px 38px;
        min-width: 277px;
        letter-spacing: 0.08rem;

        @media (max-width: 768px) {
            min-width: 237;
        }

        @media (max-width: 550px) {
            min-width: 197px;
        }

        &:hover {
            background: $ButtonColor;
        }
    }
}