@import "./variables.scss";


.advertion-production {

    &.dark {
        background: #282828;
    }

    &.light {
        background: #FFFFFF;
    }


    &.text-white {

        & .title {
            color: #FFFFFF
        }
    }

    &.text-dark {
        & .title {
            color: #B7B7B7
        }

        & .advertion-production__title {
            border-color: #B7B7B7;
        }
    }

    &__container {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    &__list {

        margin: 0;
        row-gap: 20px;

        @media (max-width: 768px) {
            row-gap: 8px;
        }

        & .col-6,
        .col-md-4,
        .col-lg-3,
        .col-12,
        .col-lg-6 {
            padding: 0 10px !important;

            @media (max-width: 768px) {
                padding: 0 4px !important;
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: block;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 1.5rem;

            &:hover {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
                text-decoration: none;

                & .advertion-production__item {
                    &-title {
                        text-decoration: none;
                        color: $ButtonColor;
                    }

                    &-price &-title {
                        text-decoration: none;
                    }
                }
            }

            @media (max-width:768px) {
                padding: 1rem;
            }

            @media (max-width:550px) {
                padding: 0.4rem;
            }
        }

        &-icon {
            position: absolute;
            bottom: 1.5rem;
            left: 1.5rem;

            @media (max-width:768px) {
                position: relative;
                bottom: 0;
                left: 0;
                margin-bottom: 0.875rem;
            }
        }

        &-content {
            width: 100%;


        }

        &-title {
            font-size: 2rem;
            line-height: 1.75rem;
            margin-bottom: 0.4rem;
            color: #FFFFFF;

            @media (max-width:768px) {
                font-size: 1.5rem;
            }

            @media (max-width:550px) {
                font-size: 1.125rem;
                line-height: 1.125rem;
            }
        }

        &-price {
            margin-bottom: 0;
            font-size: 1.125rem;

            @media (max-width:768px) {
                font-size: 1rem;
            }

            @media (max-width:550px) {
                font-size: 0.875rem;
            }
        }
    }

    &__title {
        margin-left: 33px;

        padding: 28px;
        border-left: 2px solid #FFFFFF;

        @media (max-width:768px) {
            padding: 0 10px;
            margin-left: 0;
        }
    }

    &__list {

        &.flex-row-reverse {

            & .advertion-production__title {
                border-right-width: 2px;
                border-right-style: solid;
                border-left: none;
            }
        }
    }

    & .title {

        &.large {
            font-size: 4rem;
            font-weight: 300;

            @media (max-width:1280px) {
                font-size: 2.5rem;
            }

            @media (max-width:991px) {
                font-size: 2rem;
            }

            @media (max-width:768px) {
                font-size: 1.785rem;
            }

            @media (max-width:550px) {
                font-size: 1.375rem;
            }
        }

        &.light {
            font-size: 3.56rem;
            font-weight: 300;

            @media (max-width:1280px) {
                font-size: 2.5rem;
            }

            @media (max-width:991px) {
                font-size: 2rem;
            }

            @media (max-width:768px) {
                font-size: 1.785rem;
            }

            @media (max-width:550px) {
                font-size: 1.375rem;
            }
        }

        &.small {
            font-size: 3.5rem;
            font-weight: 300;

            @media (max-width:1280px) {
                font-size: 2.5rem;
            }

            @media (max-width:991px) {
                font-size: 2rem;
            }

            @media (max-width:768px) {
                font-size: 1.785rem;
            }

            @media (max-width:550px) {
                font-size: 1.375rem;
            }
        }
    }

    &__slider {

        &.dark {
            background: #282828;
        }

        &.light {
            background: #FFFFFF;
        }


        &-container {
            padding-top: 55px;
            padding-bottom: 55px;
        }
    }
}

.slider {



    &__title {
        color: #6D6D6D;
        font-size: 4.5rem;
        line-height: 80px;

        @media screen and (max-width:768px) {
            font-size: 4rem;
            line-height: 65px;
        }
    }

    &__button {
        cursor: pointer;

        & span {
            color: #C7C7C7;
            font-size: 0.875rem;
        }

        &:hover {
            & span {
                color: #6D6D6D;
            }
        }

    }

    &__control {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.servicesSwiper {

    @media screen and (max-width: 768px) {
        height: 500px;
    }

    @media screen and (max-width: 550px) {
        height: 350px;
    }

}

.swiper-slide {

    @media screen and (max-width: 768px) {
        height: calc(calc(100% - 30px)/2);
    }

    @media screen and (max-width: 550px) {
        height: calc(calc(100% - 7px)/2);
    }
}