@import "./variables.scss";

.menu {
    background: #383838;
    position: sticky;
    left: 0;
    top: 175px;
    z-index: 10;

    @media (max-width: 991px) {
        top: 140px;
        background-color: $ButtonColor;
    }

    @media (max-width: 768px) {
        top: 140px;
    }

    &__container {
        padding-top: 20px;
        padding-bottom: 20px;

        @media (max-width: 768px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__navigation {

        &-logo {
            width: 207px;

            @media (max-width: 768px) {
                width: 110px;
            }
        }

        &-list {
            column-gap: 50px;
            row-gap: 45px;

            @media (max-width: 768px) {
                padding: 40px 0;
            }
        }

        &-item {
            @media (max-width: 768px) {
                width: 75%;

                & a {
                    display: block;
                    width: 100%;
                }
            }
        }

        &-link {
            color: #8C8C8C;
            font-size: 0.875rem;
            position: relative;
            padding-top: 0;
            padding-bottom: 0;

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                background: #8C8C8C;
                ;
                transition: all 0.3s;
            }

            &:hover {
                text-decoration: none;
                color: #FFFFFF;

                &::after {
                    width: 100%;
                }
            }

            &.active {
                text-decoration: none;
                color: #FFFFFF;
                cursor: default;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__contacts-btn {
        color: #FFFFFF;
        font-size: 12px;

        &:hover {
            color: #FFFFFF;
            opacity: 0.8;
            border-color: none;
        }
    }

    &__title {
        font-size: 0.875rem;
    }

    &__content {
        position: relative;
        background: #383838;

        @media (max-width: 991px) {
            position: absolute;
            top: 100%;
            left: 0;
        }

        & .menu__navigation {

            &-link {
                color: $ButtonColor;
                font-size: 0.875rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background: $ButtonColor;
                    transition: all 0.3s;
                }

                &:hover {
                    text-decoration: none;
                    color: #FFFFFF;

                    &::after {
                        width: 100%;
                    }
                }

                &.active {
                    text-decoration: none;
                    color: #FFFFFF;
                    cursor: default;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}