.feedback {
    background: #606060;

    &__container {
        padding: 55px 115px 55px 143px;

        @media (max-width: 768px) {
            padding: 50px 50px;
        }

        @media (max-width: 550px) {
            padding: 40px 40px;
        }
    }

    &__title {
        font-size: 2.25rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }

        @media (max-width: 550px) {
            font-size: 1.625rem;
        }
    }

    &__text {
        font-size: 1.375rem;

        @media (max-width: 550px) {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
    }

    &__btn {
        font-size: 0.75rem;
        min-width: 254px;
    }
}